openapi: 3.0.1
info:
  description: "The DDI IPAM Federation application enables a SaaS administrator to\
    \ manage multiple IPAM systems from one central control point CSP.  \n\n"
  title: IPAM Federation API
  version: v1
servers:
- url: http://csp.infoblox.com/api/ddi/v1
- url: https://csp.infoblox.com/api/ddi/v1
security:
- ApiKeyAuth: []
paths:
  /federation/aws/scope/management:
    post:
      description: Enable or disable external management of an AWS IPAM scope by updating
        the federated realm's metadata to reflect the desired management mode
      operationId: aws_scope_managementScopeManagement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationScopeManagementObject'
        description: Scope management configuration details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationScopeManagementResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                type: object
          description: "Bad Request - Invalid request parameters (e.g., malformed\
            \ scope ARN, missing required fields)"
        "401":
          content:
            application/json:
              schema:
                type: object
          description: Unauthorized - Invalid or missing authentication token
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Not Found - AWS IPAM scope not found or does not exist
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal Server Error - An unexpected error occurred while
            setting scope management
      summary: Configure management settings for AWS IPAM scopes
      tags:
      - aws_scope_management
      x-codegen-request-body-name: body
  /federation/aws/scope/token:
    post:
      description: Generate a time-limited JWT token for authenticating requests to
        the specified AWS IPAM scope
      operationId: aws_scope_tokenGenerateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationManageScopeTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationManageScopeTokenResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                type: object
          description: "Invalid request parameters (e.g., malformed scope ARN, invalid\
            \ expiration, missing required fields)"
        "401":
          content:
            application/json:
              schema:
                type: object
          description: "Unauthorized access (e.g., invalid account ID, disabled account)"
        "403":
          content:
            application/json:
              schema:
                type: object
          description: Access denied to the specified AWS IPAM scope
        "404":
          content:
            application/json:
              schema:
                type: object
          description: AWS IPAM scope or Infoblox account ID not found
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal server error occurred while generating token
      summary: Generate AWS IPAM scope authentication token
      tags:
      - aws_scope_token
      x-codegen-request-body-name: body
  /federation/create_next_available_fld:
    post:
      description: |-
        Use this method to create the next "n" available __ForwardLookingDelegation__ objects considering the parameter passed.
        The response will be "n" __ForwardLookingDelegation__ objects.
        A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.
      operationId: next_available_fldCreateNextAvailableFLDBlocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationNextAvailableFLDRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationNextAvailableFLDResponse'
          description: POST operation response
      summary: Create the next available __ForwardLookingDelegation__ objects.
      tags:
      - next_available_fld
      x-codegen-request-body-name: body
  /federation/delegation:
    delete:
      description: "This method has no-operation, but is provided for client IPAM\
        \ services performing a DELETE of zero Delegations that did not detect the\
        \ empty request."
      operationId: delegationDeleteWithoutId
      responses:
        "200":
          content: {}
          description: OK
      summary: No-op DELETE Delegation operation.
      tags:
      - delegation
    get:
      description: |-
        Use this method to retrieve __Delegation__ objects.
        The __Delegation__ explicitly marks authority for an address range assigned to another IPAM service.
      operationId: delegationList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Grouping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListDelegationResponse'
          description: GET operation response
      summary: Retrieve the delegation.
      tags:
      - delegation
    post:
      description: |-
        Use this method to create a __Delegation__ object.
        The __Delegation__ explicitly marks authority for an address range assigned to another IPAM service.
      operationId: delegationCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationDelegation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateDelegationResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                type: object
          description: "Invalid request parameters (e.g., missing required fields,\
            \ missing required prerequisites, invalid address format, invalid CIDR\
            \ values)"
        "401":
          content:
            application/json:
              schema:
                type: object
          description: "Unauthorized access (e.g., invalid or missing authentication\
            \ token)"
        "403":
          content:
            application/json:
              schema:
                type: object
          description: "Forbidden operation (e.g., insufficient permissions to create\
            \ delegation in the specified realm)"
        "404":
          content:
            application/json:
              schema:
                type: object
          description: "Resource not found (e.g., specified federated realm, parent\
            \ block, or federated pool does not exist)"
        "409":
          content:
            application/json:
              schema:
                type: object
          description: "Conflict error (e.g., delegation already exists, address space\
            \ conflicts with existing allocations)"
        "500":
          content:
            application/json:
              schema:
                type: object
          description: "Internal server error (e.g., database connection issues, unexpected\
            \ system failures)"
      summary: Create the delegation.
      tags:
      - delegation
      x-tf-resource: delegation
      x-tf-datasource: delegations
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/delegation/{id}:
    delete:
      description: |-
        Use this method to delete a __Delegation__ object.
        The __Delegation__ explicitly marks authority for an address range assigned to another IPAM service.
      operationId: delegationDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the delegation.
      tags:
      - delegation
    get:
      description: |-
        Use this method to retrieve a __Delegation__ object.
        The __Delegation__ explicitly marks authority for an address range assigned to another IPAM service.
      operationId: delegationRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationReadDelegationResponse'
          description: GET operation response
      summary: Retrieve the delegation.
      tags:
      - delegation
    patch:
      description: |-
        Use this method to update a __Delegation__ object.
        The __Delegation__ explicitly marks authority for an address range assigned to another IPAM service.
      operationId: delegationUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationDelegation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationUpdateDelegationResponse'
          description: PATCH operation response
      summary: Update the delegation.
      tags:
      - delegation
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/federated_block:
    get:
      description: |-
        Use this method to retrieve __FederatedBlock__ objects.
        The __FederatedBlock__ object allows a uniform representation of the address space segmentation, supporting functions such as administrative grouping, routing aggregation, delegation etc.
      operationId: federated_blockList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Grouping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListFederatedBlockResponse'
          description: GET operation response
      summary: Retrieve the federated blocks.
      tags:
      - federated_block
    post:
      description: |-
        Use this method to create a __FederatedBlock__ object.
        The __FederatedBlock__ object allows a uniform representation of the address space segmentation, supporting functions such as administrative grouping, routing aggregation, delegation etc.
      operationId: federated_blockCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationFederatedBlock'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateFederatedBlockResponse'
          description: POST operation response
      summary: Create the federated block.
      tags:
      - federated_block
      x-tf-resource: federated_block
      x-tf-datasource: federated_blocks
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/federated_block/{id}:
    delete:
      description: |-
        Use this method to delete a __FederatedBlock__ object.
        The __FederatedBlock__ object allows a uniform representation of the address space segmentation, supporting functions such as administrative grouping, routing aggregation, delegation etc.
      operationId: federated_blockDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the federated block.
      tags:
      - federated_block
    get:
      description: |-
        Use this method to retrieve a __FederatedBlock__ object.
        The __FederatedBlock__ object allows a uniform representation of the address space segmentation, supporting functions such as administrative grouping, routing aggregation, delegation etc.
      operationId: federated_blockRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationReadFederatedBlockResponse'
          description: GET operation response
      summary: Retrieve the federated block.
      tags:
      - federated_block
    patch:
      description: |-
        Use this method to update a __FederatedBlock__ object.
        The __FederatedBlock__ object allows a uniform representation of the address space segmentation, supporting functions such as administrative grouping, routing aggregation, delegation etc.
      operationId: federated_blockUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationFederatedBlock'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationUpdateFederatedBlockResponse'
          description: PATCH operation response
      summary: Update the federated block.
      tags:
      - federated_block
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/federated_block/{id}/create_next_available_fld:
    post:
      operationId: next_available_fldCreateNextAvailableFLD
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationCreateNextAvailableFLDRequestForBlock'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationNextAvailableFLDResponse'
          description: POST operation response
      summary: |-
        Create the next available __ForwardLookingDelegation__ objects within a specific __FederatedBlock__.
        Use this method to create the next available __ForwardLookingDelegation__ objects under the specified parent __FederatedBlock__.
      tags:
      - next_available_fld
      x-codegen-request-body-name: body
  /federation/federated_block/{id}/next_available_federated_block:
    get:
      description: |-
        Use this method to retrieve the next available __FederatedBlock__ objects.
        This returns one or more __FederatedBlock__ objects from the specified parent __FederatedBlock__ block.
      operationId: next_available_federated_blockListNextAvailableFederatedBlocks
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "The CIDR of the federated block. This is required, if _address_\
          \ does not specify it in its input."
        in: query
        name: cidr
        schema:
          format: int64
          type: integer
      - description: "The count of __Block__ required. If not provided, it will default\
          \ to 1."
        in: query
        name: count
        schema:
          format: int64
          type: integer
      - description: The name to be provided.
        in: query
        name: name
        schema:
          type: string
      - description: The description for the _federation/federated_block_. May contain
          0 to 1024 characters. Can include UTF-8.
        in: query
        name: comment
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListNextAvailableFederatedBlockResponse'
          description: GET operation response
      summary: List the next available federated block.
      tags:
      - next_available_federated_block
    post:
      description: |-
        Use this method to allocate the next available __FederatedBlock__ objects.
        This allocates one or more __FederatedBlock__ objects from the specified parent __FederatedBlock__ block.
      operationId: next_available_federated_blockCreateNextAvailableFederatedBlocks
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationNextAvailableBlockRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateNextAvailableFederatedBlockResponse'
          description: POST operation response
      summary: Retrieve the next available federated block.
      tags:
      - next_available_federated_block
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/federated_block/{id}/next_available_overlapping_block:
    get:
      description: |-
        Use this method to retrieve the next available __OverlappingBlock__ objects.
        This returns one or more __OverlappingBlock__ objects from the specified parent __FederatedBlock__ block.
      operationId: next_available_overlapping_blockListNextAvailableOverlappingBlocks
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "The CIDR of the federated block. This is required, if _address_\
          \ does not specify it in its input."
        in: query
        name: cidr
        schema:
          format: int64
          type: integer
      - description: "The count of __Block__ required. If not provided, it will default\
          \ to 1."
        in: query
        name: count
        schema:
          format: int64
          type: integer
      - description: The name to be provided.
        in: query
        name: name
        schema:
          type: string
      - description: The description for the _federation/federated_block_. May contain
          0 to 1024 characters. Can include UTF-8.
        in: query
        name: comment
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListNextAvailableOverlappingBlockResponse'
          description: GET operation response
      summary: List the next available overlapping block.
      tags:
      - next_available_overlapping_block
    post:
      description: |-
        Use this method to allocate the next available __OverlappingBlock__ objects.
        This allocates one or more __OverlappingBlock__ objects from the specified parent __FederatedBlock__ block.
      operationId: next_available_federated_blockCreateNextAvailableOverlappingBlocks
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationNextAvailableBlockRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateNextAvailableOverlappingBlockResponse'
          description: POST operation response
      summary: Retrieve the next available overlapping block.
      tags:
      - next_available_federated_block
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/federated_block/{id}/next_available_reserved_block:
    get:
      description: |-
        Use this method to retrieve the next available __ReservedBlock__ objects.
        This returns one or more __ReservedBlock__ objects from the specified parent __FederatedBlock__ block.
      operationId: next_available_reserved_blockListNextAvailableReservedBlocks
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "The CIDR of the federated block. This is required, if _address_\
          \ does not specify it in its input."
        in: query
        name: cidr
        schema:
          format: int64
          type: integer
      - description: "The count of __Block__ required. If not provided, it will default\
          \ to 1."
        in: query
        name: count
        schema:
          format: int64
          type: integer
      - description: The name to be provided.
        in: query
        name: name
        schema:
          type: string
      - description: The description for the _federation/federated_block_. May contain
          0 to 1024 characters. Can include UTF-8.
        in: query
        name: comment
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListNextAvailableReservedBlockResponse'
          description: GET operation response
      summary: List the next available reserved block.
      tags:
      - next_available_reserved_block
    post:
      description: |-
        Use this method to allocate the next available __ReservedBlock__ objects.
        This allocates one or more __ReservedBlock__ objects from the specified parent __FederatedBlock__ block.
      operationId: next_available_reserved_blockCreateNextAvailableReservedBlocks
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationNextAvailableBlockRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateNextAvailableReservedBlockResponse'
          description: POST operation response
      summary: Retrieve the next available reserved block.
      tags:
      - next_available_reserved_block
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/federated_pool:
    get:
      description: |-
        Use this method to retrieve __FederatedPool__ objects.
        The __FederatedPool__ object represents a group of federated blocks that can be allocated for specific providers and regions.
      operationId: federated_poolList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Grouping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListFederatedPoolResponse'
          description: GET operation response
      summary: Retrieve federated pools.
      tags:
      - federated_pool
    post:
      description: |-
        Use this method to create a __FederatedPool__ object.
        The __FederatedPool__ object represents a group of federated blocks that can be allocated for specific providers and regions..
      operationId: federated_poolCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationFederatedPool'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateFederatedPoolResponse'
          description: POST operation response
      summary: Create the federated pool.
      tags:
      - federated_pool
      x-tf-resource: federated_pool
      x-tf-datasource: federated_pools
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/federated_pool/{id}:
    delete:
      description: |-
        Use this method to delete a __FederatedPool__ object.
        The __FederatedPool__ object represents a group of federated blocks that can be allocated for specific providers and regions.
      operationId: federated_poolDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the federated pool.
      tags:
      - federated_pool
    get:
      description: |-
        Use this method to retrieve a __FederatedPool__ object.
        The __FederatedPool__ object represents a group of federated blocks that can be allocated for specific providers and regions.
      operationId: federated_poolRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationReadFederatedPoolResponse'
          description: GET operation response
      summary: Retrieve the federated pool.
      tags:
      - federated_pool
    patch:
      description: |-
        Use this method to update a __FederatedPool__ object.
        The __FederatedPool__ object represents a group of federated blocks that can be allocated for specific providers and regions.
      operationId: federated_poolUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationFederatedPool'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationUpdateFederatedPoolResponse'
          description: PATCH operation response
      summary: Update the federated pool.
      tags:
      - federated_pool
      x-codegen-request-body-name: body
  /federation/federated_pool/{id}/create_next_available_fld:
    post:
      description: |-
        Use this method to allocate the next available __ForwardLookingDelegation__ objects within a specific federated pool.
        Federated blocks within the pool are evaluated in ascending CIDR order (largest address space first).
        Returns the allocated __ForwardLookingDelegation__ objects.
      operationId: next_available_fldCreateNextAvailableFLDForPool
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationNextAvailableFLDPoolRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationNextAvailableFLDResponse'
          description: POST operation response
      summary: Create the next available __ForwardLookingDelegation__ objects within
        a pool.
      tags:
      - next_available_fld
      x-codegen-request-body-name: body
  /federation/federated_pool/{id}/next_available_federated_block:
    post:
      description: |-
        Use this method to allocate the next available __FederatedBlock__ objects within a specific federated pool.
        This allocates one or more __FederatedBlock__ objects from the specified federated pool.
        This is a thin wrapper that reuses the block-level NAB logic by finding suitable parent blocks in the pool.
      operationId: next_available_pool_blockCreateNextAvailableBlocks
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationNextAvailableBlockRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateNextAvailableFederatedBlockResponse'
          description: POST operation response
      summary: Create the next available federated blocks within a pool.
      tags:
      - next_available_pool_block
      x-codegen-request-body-name: body
  /federation/federated_realm:
    get:
      description: |-
        Use this method to retrieve __FederatedRealm__ objects.
        The __FederatedRealm__ object object is a unique set of federated blocks per realm.
      operationId: federated_realmList
      parameters:
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Grouping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListFederatedRealmResponse'
          description: GET operation response
      summary: Retrieve federated realms.
      tags:
      - federated_realm
    post:
      description: |-
        Use this method to create a __FederatedRealm__ object.
        The __FederatedRealm__ object object is a unique set of federated blocks per realm.
      operationId: federated_realmCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationFederatedRealm'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateFederatedRealmResponse'
          description: POST operation response
      summary: Create the federated realm.
      tags:
      - federated_realm
      x-tf-resource: federated_realm
      x-tf-datasource: federated_realms
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/federated_realm/{id}:
    delete:
      description: Use this method to delete a __FederatedRealm__ object.
      operationId: federated_realmDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete federated realm.
      tags:
      - federated_realm
    get:
      description: |-
        Use this method to retrieve a __FederatedRealm__ object.
        The __FederatedRealm__ object object is a unique set of federated blocks per realm.
      operationId: federated_realmRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationReadFederatedRealmResponse'
          description: GET operation response
      summary: Retrieve the federated realm.
      tags:
      - federated_realm
    patch:
      description: |-
        Use this method to update a __FederatedRealm__ object.
        The __FederatedRealm__ object object is a unique set of federated blocks per realm.
      operationId: federated_realmUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationFederatedRealm'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationUpdateFederatedRealmResponse'
          description: PATCH operation response
      summary: Update the federated realm.
      tags:
      - federated_realm
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/forward_looking_delegation:
    get:
      description: |-
        Use this method to retrieve __ForwardLookingDelegation__ objects.
        A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.
      operationId: forward_looking_delegationList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Grouping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListForwardLookingDelegationResponse'
          description: GET operation response
      summary: Retrieve the __ForwardLookingDelegation__ objects.
      tags:
      - forward_looking_delegation
    post:
      description: |-
        Use this method to create __ForwardLookingDelegation__ object with the parameter passed.
        A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.
      operationId: forward_looking_delegationCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationForwardLookingDelegation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateForwardLookingDelegationResponse'
          description: POST operation response
      summary: Create the __ForwardLookingDelegation__ object.
      tags:
      - forward_looking_delegation
      x-tf-resource: forward_looking_delegation
      x-tf-datasource: forward_looking_delegations
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/forward_looking_delegation/{id}:
    delete:
      description: |-
        Use this method to delete a __ForwardLookingDelegation__ object.
        A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.
      operationId: forward_looking_delegationDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete a specific __ForwardLookingDelegation__ object.
      tags:
      - forward_looking_delegation
    get:
      description: |-
        Use this method to retrieve a __ForwardLookingDelegation__ object.
        A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.
      operationId: forward_looking_delegationRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationReadForwardLookingDelegationResponse'
          description: GET operation response
      summary: Retrieve the __ForwardLookingDelegation__ object.
      tags:
      - forward_looking_delegation
    patch:
      description: |-
        Use this method to update __ForwardLookingDelegation__ object with the parameter passed.
        A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.
      operationId: forward_looking_delegationUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationForwardLookingDelegation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationUpdateForwardLookingDelegationResponse'
          description: PATCH operation response
      summary: Update the __ForwardLookingDelegation__ object.
      tags:
      - forward_looking_delegation
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/list_next_available_fld:
    get:
      description: |-
        Use this method to get the next "n" available __ForwardLookingDelegation__ objects which can be created considering
        the parameter passed. The response will be "n" __ForwardLookingDelegation__ objects.
        A __ForwardLookingDelegation__ object (_federation/forward_looking_delegation_) is a set of contiguous IP addresses with no gap, expressed as a CIDR block. Forward Looking Delegations may be used to allocate unique space for future resources which will ultimately hold a Delegation for the same CIDR block.
      operationId: next_available_fld_blockListNextAvailableFLDBlocks
      parameters:
      - description: The CIDR of the __ForwardLookingDelegation__. This is required.
        in: query
        name: cidr
        schema:
          format: int64
          type: integer
      - description: "The count of __ForwardLookingDelegation__ required. If not provided,\
          \ it will default to 1."
        in: query
        name: count
        schema:
          format: int64
          type: integer
      - description: The name to be provided.
        in: query
        name: name
        schema:
          type: string
      - description: The description for the __ForwardLookingDelegation__. May contain
          0 to 1024 characters. Can include UTF-8.
        in: query
        name: comment
        schema:
          type: string
      - description: The version of the address (_ip4_ or _ip6_). If not present then
          it will default to _ip4_.
        in: query
        name: protocol
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationNextAvailableFLDResponse'
          description: GET operation response
      summary: List the next available __ForwardLookingDelegation__ objects.
      tags:
      - next_available_fld_block
  /federation/next_appropriate_delegation:
    post:
      description: Creates next appropriate __Delegation__ objects based on the provided
        payload. This method is used to generate a __Delegation__ that fits the specified
        criteria.
      operationId: next_appropriate_delegationCreateNextAppropriateDelegation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationNextAppropriateDelegation'
        description: The __NextAppropriateDelegation__ object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationNextAppropriateDelegationResponse'
          description: POST operation response
        "400":
          content:
            application/json:
              schema:
                type: object
          description: "Invalid request parameters (e.g., missing required fields,\
            \ missing required prerequisites, invalid address format, invalid CIDR\
            \ values)"
        "401":
          content:
            application/json:
              schema:
                type: object
          description: "Unauthorized access (e.g., invalid token)"
        "404":
          content:
            application/json:
              schema:
                type: object
          description: The resource referred to by 'scope_arn' does not exist or is
            not found
        "409":
          content:
            application/json:
              schema:
                type: object
          description: Not sufficient address space available to allocate for the
            request.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: Internal server error while allocating delegation
      summary: Create Next Appropriate Delegation
      tags:
      - next_appropriate_delegation
      x-codegen-request-body-name: body
  /federation/overlapping_block:
    get:
      description: |-
        Use this method to retrieve __OverlappingBlock__ objects.
        The __OverlappingBlock__ indicates an address range that may be managed independently by all participating IPAM services.
      operationId: overlapping_blockList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Grouping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListOverlappingBlockResponse'
          description: GET operation response
      summary: Retrieve the overlapping block.
      tags:
      - overlapping_block
    post:
      description: |-
        Use this method to create an __OverlappingBlock__ object.
        The __OverlappingBlock__ indicates an address range that may be managed independently by all participating IPAM services.
      operationId: overlapping_blockCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationOverlappingBlock'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateOverlappingBlockResponse'
          description: POST operation response
      summary: Create the overlapping block.
      tags:
      - overlapping_block
      x-tf-resource: overlapping_block
      x-tf-datasource: overlapping_blocks
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/overlapping_block/{id}:
    delete:
      description: |-
        Use this method to delete an __OverlappingBlock__ object.
        The __OverlappingBlock__ indicates an address range that may be managed independently by all participating IPAM services.
      operationId: overlapping_blockDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the overlapping block.
      tags:
      - overlapping_block
    get:
      description: |-
        Use this method to retrieve an __OverlappingBlock__ object.
        The __OverlappingBlock__ indicates an address range that may be managed independently by all participating IPAM services.
      operationId: overlapping_blockRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationReadOverlappingBlockResponse'
          description: GET operation response
      summary: Retrieve the overlapping block.
      tags:
      - overlapping_block
    patch:
      description: |-
        Use this method to update an __OverlappingBlock__ object.
        The __OverlappingBlock__ indicates an address range that may be managed independently by all participating IPAM services.
      operationId: overlapping_blockUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationOverlappingBlock'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationUpdateOverlappingBlockResponse'
          description: PATCH operation response
      summary: Update the overlapping block.
      tags:
      - overlapping_block
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/reserved_block:
    get:
      description: |-
        Use this method to retrieve __ReservedBlock__ objects.
        The __ReservedBlock__ indicates an address range for which authority is expressly forbidden. Cooperating IPAM services must not make allocations in this range.
      operationId: reserved_blockList
      parameters:
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      - description: "\n\nA collection of response resources can be filtered by a\
          \ logical expression string that includes JSON tag references to values\
          \ in each resource, literal values, and logical operators. If a resource\
          \ does not have the specified tag, its value is assumed to be null.\n\n\
          Literal values include numbers (integer and floating-point), and quoted\
          \ (both single- or double-quoted) literal strings, and 'null'. The following\
          \ operators are commonly used in filter expressions:\n\n|  Op   |  Description\
          \               | \n|  --   |  -----------               | \n|  ==   | \
          \ Equal                     | \n|  !=   |  Not Equal                 | \n\
          |  >    |  Greater Than              | \n|   >=  |  Greater Than or Equal\
          \ To  | \n|  <    |  Less Than                 | \n|  <=   |  Less Than\
          \ or Equal To     | \n|  and  |  Logical AND               | \n|  ~    |\
          \  Matches Regex             | \n|  !~   |  Does Not Match Regex      |\
          \ \n|  or   |  Logical OR                | \n|  not  |  Logical NOT    \
          \           | \n|  ()   |  Grouping Operators       |\n\n\t\t\t\t\t\t"
        in: query
        name: _filter
        schema:
          type: string
      - description: "\n\nThe integer index (zero-origin) of the offset into a collection\
          \ of resources. If omitted or null the value is assumed to be '0'.\n\n\t\
          \t\t\t\t\t\t"
        in: query
        name: _offset
        schema:
          type: integer
      - description: "\n\nThe integer number of resources to be returned in the response.\
          \ The service may impose maximum value. If omitted the service may impose\
          \ a default value.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _limit
        schema:
          type: integer
      - description: "\n\nThe service-defined string used to identify a page of resources.\
          \ A null value indicates the first page.\n\n\t\t\t\t\t\t\t"
        in: query
        name: _page_token
        schema:
          type: string
      - description: "\n\nA collection of response resources can be sorted by their\
          \ JSON tags. For a 'flat' resource, the tag name is straightforward. If\
          \ sorting is allowed on non-flat hierarchical resources, the service should\
          \ implement a qualified naming scheme such as dot-qualification to reference\
          \ data down the hierarchy. If a resource does not have the specified tag,\
          \ its value is assumed to be null.)\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names. The sort direction can be specified by a suffix\
          \ separated by whitespace before the tag name. The suffix 'asc' sorts the\
          \ data in ascending order. The suffix 'desc' sorts the data in descending\
          \ order. If no suffix is specified the data is sorted in ascending order.\n\
          \n\t\t\t\t\t\t"
        in: query
        name: _order_by
        schema:
          type: string
      - description: This parameter is used for sorting by tags.
        in: query
        name: _torder_by
        schema:
          type: string
      - description: This parameter is used for filtering by tags.
        in: query
        name: _tfilter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationListReservedBlockResponse'
          description: GET operation response
      summary: Retrieve the reserved block.
      tags:
      - reserved_block
    post:
      description: |-
        Use this method to create a __ReservedBlock__ object.
        The __ReservedBlock__ indicates an address range for which authority is expressly forbidden. Cooperating IPAM services must not make allocations in this range.
      operationId: reserved_blockCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationReservedBlock'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationCreateReservedBlockResponse'
          description: POST operation response
      summary: Create the reserved block.
      tags:
      - reserved_block
      x-tf-resource: reserved_block
      x-tf-datasource: reserved_blocks
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
  /federation/reserved_block/{id}:
    delete:
      description: |-
        Use this method to delete a __ReservedBlock__ object.
        The __ReservedBlock__ indicates an address range for which authority is expressly forbidden. Cooperating IPAM services must not make allocations in this range.
      operationId: reserved_blockDelete
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the reserved block.
      tags:
      - reserved_block
    get:
      description: |-
        Use this method to retrieve a __ReservedBlock__ object.
        The __ReservedBlock__ indicates an address range for which authority is expressly forbidden. Cooperating IPAM services must not make allocations in this range.
      operationId: reserved_blockRead
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "\n\nA collection of response resources can be transformed by\
          \ specifying a set of JSON tags to be returned. For a “flat” resource, the\
          \ tag name is straightforward. If field selection is allowed on non-flat\
          \ hierarchical resources, the service should implement a qualified naming\
          \ scheme such as dot-qualification to reference data down the hierarchy.\
          \ If a resource does not have the specified tag, the tag does not appear\
          \ in the output resource.\n\nSpecify this parameter as a comma-separated\
          \ list of JSON tag names.\n\n\t\t\t\t\t\t"
        in: query
        name: _fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationReadReservedBlockResponse'
          description: GET operation response
      summary: Retrieve the reserved block.
      tags:
      - reserved_block
    patch:
      description: |-
        Use this method to update a __ReservedBlock__ object.
        The __ReservedBlock__ indicates an address range for which authority is expressly forbidden. Cooperating IPAM services must not make allocations in this range.
      operationId: reserved_blockUpdate
      parameters:
      - description: An application specific resource identity of a resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/federationReservedBlock'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/federationUpdateReservedBlockResponse'
          description: PATCH operation response
      summary: Update the reserved block.
      tags:
      - reserved_block
      x-sdk-default-tags: true
      x-codegen-request-body-name: body
components:
  schemas:
    apiPageInfo:
      description: |-
        PageInfo represents both server-driven and client-driven pagination response.
        Server-driven pagination is a model in which the server returns some
        amount of data along with an token indicating there is more data
        and where subsequent queries can get the next page of data.
        Client-driven pagination is a model in which rows are addressable by
        offset and page size (limit).
      example:
        offset: 0
        size: 6
        page_token: page_token
      properties:
        offset:
          description: |-
            The service may optionally include the offset of the next page of resources.
            A null value indicates no more pages.
          format: int32
          type: integer
        page_token:
          description: |-
            The service response should contain a string to indicate
            the next page of resources.
            A null value indicates no more pages.
          type: string
        size:
          description: The service may optionally include the total number of resources
            being paged.
          format: int32
          type: integer
      type: object
    federationAllocation:
      description: The __Allocation__ tracks the distribution of Federated Blocks
        within each of the supported objects.
      example:
        forward_looking_delegation: 1
        reserved: 5
        overlapping: 5
        delegated: 6
        allocated: 0
      properties:
        allocated:
          description: Percent of total space allocated.
          format: int64
          readOnly: true
          type: integer
        delegated:
          description: Percent of total space delegated.
          format: int64
          readOnly: true
          type: integer
        forward_looking_delegation:
          description: Percent of total space in forward looking delegation blocks.
          format: int64
          readOnly: true
          type: integer
        overlapping:
          description: Percent of total space in overlapping blocks.
          format: int64
          readOnly: true
          type: integer
        reserved:
          description: Percent of total space reserved.
          format: int64
          readOnly: true
          type: integer
      title: Allocation
      type: object
    federationCreateDelegationResponse:
      description: The response format to create the __Delegation__ object.
      example:
        result:
          metadata: "{}"
          address: address
          federated_realms:
          - federated_realms
          - federated_realms
          created_at: 2000-01-23T04:56:07.000+00:00
          utilization: 60
          tags: "{}"
          federated_pool_id: federated_pool_id
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          cidr: 11
          comment: comment
          delegated_to: delegated_to
          id: id
          region: region
          parents:
          - parents
          - parents
      properties:
        result:
          $ref: '#/components/schemas/federationDelegation'
      title: CreateDelegationResponse
      type: object
    federationCreateFederatedBlockResponse:
      description: The response format to create the __FederatedBlock__ object.
      example:
        result:
          parent: parent
          metadata: "{}"
          address: address
          federated_realm: federated_realm
          created_at: 2000-01-23T04:56:07.000+00:00
          utilization: 2
          utilization_v6:
            total:
              raw_value: raw_value
            used:
              raw_value: raw_value
          tags: "{}"
          federated_pool_id: federated_pool_id
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          network_compliance:
            minimum_netmask_length: 3
            default_netmask_length: 7
            maximum_netmask_length: 9
          name: name
          cidr: 30
          comment: comment
          id: id
          state: state
          region: region
          network_compliant: true
          allocation_v4:
            forward_looking_delegation: 1
            reserved: 5
            overlapping: 5
            delegated: 6
            allocated: 0
      properties:
        result:
          $ref: '#/components/schemas/federationFederatedBlock'
      title: CreateFederatedBlockResponse
      type: object
    federationCreateFederatedPoolResponse:
      description: The response format to create the __FederatedPool__ object.
      example:
        result:
          parent: parent
          allocation:
            forward_looking_delegation: 1
            reserved: 5
            overlapping: 5
            delegated: 6
            allocated: 0
          metadata: "{}"
          federated_realm: federated_realm
          created_at: 2000-01-23T04:56:07.000+00:00
          description: description
          utilization: 14
          utilization_v6:
            total:
              raw_value: raw_value
            used:
              raw_value: raw_value
          tags: "{}"
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          provider: null
          network_compliance:
            minimum_netmask_length: 3
            default_netmask_length: 7
            maximum_netmask_length: 9
          name: name
          id: id
          state: state
          region: region
          network_compliant: true
      properties:
        result:
          $ref: '#/components/schemas/federationFederatedPool'
      title: CreateFederatedPoolResponse
      type: object
    federationCreateFederatedRealmResponse:
      description: The response format to create the __FederatedRealm__ object.
      example:
        result:
          metadata: "{}"
          updated_at: 2000-01-23T04:56:07.000+00:00
          provider: null
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          comment: comment
          utilization: 0
          id: id
          region: region
          utilization_v6:
            total:
              raw_value: raw_value
            used:
              raw_value: raw_value
          allocation_v4:
            forward_looking_delegation: 1
            reserved: 5
            overlapping: 5
            delegated: 6
            allocated: 0
          tags: "{}"
      properties:
        result:
          $ref: '#/components/schemas/federationFederatedRealm'
      title: CreateFederatedRealmResponse
      type: object
    federationCreateForwardLookingDelegationResponse:
      description: The response format to create the __ForwardLookingDelegation__
        object.
      example:
        result:
          federated_pool_id: federated_pool_id
          protocol: protocol
          address: address
          updated_at: 2000-01-23T04:56:07.000+00:00
          federated_realms:
          - federated_realms
          - federated_realms
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          cidr: 11
          comment: comment
          id: id
          network_compliant: true
          tags: "{}"
      properties:
        result:
          $ref: '#/components/schemas/federationForwardLookingDelegation'
      title: CreateForwardLookingDelegationResponse
      type: object
    federationCreateNextAvailableFLDRequestForBlock:
      description: Use this request to create the next available __ForwardLookingDelegation__
        objects within a specific parent __FederatedBlock__.
      properties:
        cidr:
          description: The CIDR of the __ForwardLookingDelegation__. This is required.
          format: int64
          maximum: 128
          minimum: 1
          type: integer
        comment:
          description: The description for the __ForwardLookingDelegation__. May contain
            0 to 1024 characters. Can include UTF-8.
          type: string
        count:
          description: "The count of __ForwardLookingDelegation__ required. If not\
            \ provided, it will default to 1."
          format: int64
          type: integer
        id:
          description: The resource identifier.
          readOnly: true
          type: string
        name:
          description: The name to be provided.
          type: string
        tags:
          additionalProperties: false
          description: The tags for the __ForwardLookingDelegation__ in JSON format.
          type: object
      required:
      - cidr
      - id
      title: ForwardLookingDelegationBlockRequest
      type: object
    federationCreateNextAvailableFederatedBlockResponse:
      description: The response format to allocate next available __FederatedBlock__
        objects.
      example:
        results:
        - parent: parent
          metadata: "{}"
          address: address
          federated_realm: federated_realm
          created_at: 2000-01-23T04:56:07.000+00:00
          utilization: 2
          utilization_v6:
            total:
              raw_value: raw_value
            used:
              raw_value: raw_value
          tags: "{}"
          federated_pool_id: federated_pool_id
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          network_compliance:
            minimum_netmask_length: 3
            default_netmask_length: 7
            maximum_netmask_length: 9
          name: name
          cidr: 30
          comment: comment
          id: id
          state: state
          region: region
          network_compliant: true
          allocation_v4:
            forward_looking_delegation: 1
            reserved: 5
            overlapping: 5
            delegated: 6
            allocated: 0
        - parent: parent
          metadata: "{}"
          address: address
          federated_realm: federated_realm
          created_at: 2000-01-23T04:56:07.000+00:00
          utilization: 2
          utilization_v6:
            total:
              raw_value: raw_value
            used:
              raw_value: raw_value
          tags: "{}"
          federated_pool_id: federated_pool_id
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          network_compliance:
            minimum_netmask_length: 3
            default_netmask_length: 7
            maximum_netmask_length: 9
          name: name
          cidr: 30
          comment: comment
          id: id
          state: state
          region: region
          network_compliant: true
          allocation_v4:
            forward_looking_delegation: 1
            reserved: 5
            overlapping: 5
            delegated: 6
            allocated: 0
      properties:
        results:
          items:
            $ref: '#/components/schemas/federationFederatedBlock'
          type: array
      title: CreateNextAvailableFederatedBlockResponse
      type: object
    federationCreateNextAvailableOverlappingBlockResponse:
      description: The response format to allocate next available __OverlappingBlock__
        objects.
      example:
        results:
        - parent: parent
          address: address
          federated_realm: federated_realm
          created_at: 2000-01-23T04:56:07.000+00:00
          tags: "{}"
          federated_pool_id: federated_pool_id
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          cidr: 11
          comment: comment
          id: id
          network_compliant: true
        - parent: parent
          address: address
          federated_realm: federated_realm
          created_at: 2000-01-23T04:56:07.000+00:00
          tags: "{}"
          federated_pool_id: federated_pool_id
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          cidr: 11
          comment: comment
          id: id
          network_compliant: true
      properties:
        results:
          items:
            $ref: '#/components/schemas/federationOverlappingBlock'
          type: array
      title: CreateNextAvailableOverlappingBlockResponse
      type: object
    federationCreateNextAvailableReservedBlockResponse:
      description: The response format to allocate next available __ReservedBlock__
        objects.
      example:
        results:
        - parent: parent
          metadata: "{}"
          address: address
          federated_realm: federated_realm
          created_at: 2000-01-23T04:56:07.000+00:00
          tags: "{}"
          federated_pool_id: federated_pool_id
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          cidr: 11
          comment: comment
          id: id
          region: region
          network_compliant: true
        - parent: parent
          metadata: "{}"
          address: address
          federated_realm: federated_realm
          created_at: 2000-01-23T04:56:07.000+00:00
          tags: "{}"
          federated_pool_id: federated_pool_id
          protocol: protocol
          updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          cidr: 11
          comment: comment
          id: id
          region: region
          network_compliant: true
      properties:
        results:
          items:
            $ref: '#/components/schemas/federationReservedBlock'
          type: array
[...]
